<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inc.guessourfriend" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GuessOurFriend"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginController"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".TestController"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ChallengeAFriendController"
            android:label="ChallengeAFriendController" />
        <activity
            android:name=".CurrentGamesController"
            android:label="@string/title_activity_current_games_controller" >
        </activity>
        <activity
            android:name=".LeaderboardController"
            android:label="@string/title_activity_leaderboard_controller" >
        </activity>
        <activity
            android:name=".MatchmakingController"
            android:label="@string/title_activity_matchmaking_controller" >
        </activity>
        <activity
            android:name=".ChallengesController"
            android:label="@string/title_activity_challenges_controller" >
        </activity>
        <activity
            android:name=".OptionsController"
            android:label="@string/title_activity_options_controller" >
        </activity>
        <activity
            android:name=".BlacklistController"
            android:label="@string/title_activity_blacklist_controller" >
        </activity>
        <activity
            android:name=".SlideNavigationController"
            android:label="@string/title_activity_slide_navigation_controller" >
        </activity>
        <activity
            android:name=".EndOfGameController"
            android:label="@string/title_activity_end_of_game_controller" >
        </activity>
    </application>

</manifest>
