<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inc.guessourfriend" >

    <!-- We need the internet and so does our Google Cloud Messaging API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- The Google Cloud Messaging API requires WAKE_LOCK permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Allow the Google Cloud Messaging API to SEND and REVIEVE messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- This prevents other applications from receiving messages meant for our application -->
    <permission
        android:name="inc.guessourfriend.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="inc.guessourfriend.permission.C2D_MESSAGE" />

    <application
        android:name=".Model"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginController"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".TestController"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ChallengeAFriendController"
            android:label="ChallengeAFriendController" />
        <activity
            android:name=".CurrentGamesController"
            android:label="@string/title_activity_current_games_controller" >
        </activity>
        <activity
            android:name=".LeaderboardController"
            android:label="@string/title_activity_leaderboard_controller" >
        </activity>
        <activity
            android:name=".MatchmakingController"
            android:label="@string/title_activity_matchmaking_controller" >
        </activity>
        <activity
            android:name=".ChallengesController"
            android:label="@string/title_activity_challenges_controller" >
        </activity>
        <activity
            android:name=".OptionsController"
            android:label="@string/title_activity_options_controller" >
        </activity>
        <activity
            android:name=".BlacklistController"
            android:label="@string/title_activity_blacklist_controller" >
        </activity>
        <activity
            android:name=".SlideNavigationController"
            android:label="@string/title_activity_slide_navigation_controller" >
        </activity>
        <activity
            android:name=".EndOfGameController"
            android:label="@string/title_activity_end_of_game_controller" >
        </activity>
        <activity
            android:name=".StartOfGameController"
            android:label="@string/title_activity_start_of_game_controller" >
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="inc.guessourfriend.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GuessOurFriendGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GuessOurFriendInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MiddleOfGameController"
            android:label="@string/title_activity_middle_of_game_controller" >
        </activity>
    </application>

</manifest>
